

.headingPage {
  height: 120px;
  background: #f3f3f3;
}
.navbar .navbar-brand img {
  width: 140px;
}
.navbar .navbar-collapse ul li a{
  font-size: 13px;
  font-weight: 600;
  color: #737373 !important;
}


#listBlog {
  padding-top: 40px;
  margin-bottom: 50px;
}
#listBlog .listArticle {
  margin-bottom: 50px;
}
#listBlog .listArticle .media img {
  width: 250px;
}
#listBlog .listArticle .media .media-body h5 {
  color: #565656;
  font-size: 15px;
  font-weight: 700;
}
#listBlog .listArticle .media .media-body p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0px;
}
#listBlog .listArticle .media .media-body .more a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
}
#listBlog .listArticle .media .media-body .slugList ul {
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 5px;
}
#listBlog .listArticle .media .media-body .slugList ul li {
  float: left;
  color: #8e8e8e;
  font-size: 13px;
  list-style: none;
  margin-right: 15px;
}
#listBlog .blogDetail .media .media-body h5 {
  font-size: 20px;
}
#listBlog .blogDetail .media img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
#listBlog .blogDetail .media .media-body p {
  margin-bottom: 15px;
}
#listBlog .blogDetail .media .media-body ul li p {
  margin-bottom: 0px;
}

#listBlog .blogDetail .commentDetail {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
}
#listBlog .blogDetail .commentDetail h2 {
  font-size: 18px;
  color: #525252;
}
#listBlog .blogDetail .commentDetail h2 span{
  color: #4cd898;
}
#listBlog .blogDetail .commentDetail .media img {
  width: 50px;
  border-radius: 50%;
}
#listBlog .blogDetail .commentDetail .media .media-body h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
#listBlog .detailBlogPaging {
  height: 31px;
  margin-top: 35px;
  overflow: hidden;
}
#listBlog .detailBlogPaging .leftPaging span {
  border: 0px;
  padding: 0px;
  color: #4cd898;
  font-weight: 600;
}
#listBlog .detailBlogPaging .rightPaging span {
  border: 0px;
  padding: 0px;
  color: #4cd898;
  font-weight: 600;
}
#listBlog .blogDetail .commentDetail .media .media-body span {
  font-size: 13px;
  color: #828282;
  position: relative;
  top: -3px;
}
#listBlog .blogDetail .creator {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
}
#listBlog .blogDetail .creator .media img {
  width: 60px;
  margin: 0px;
  border-radius: 50%;
}
#listBlog .blogDetail .creator .media .media-body p {
  margin-bottom: 0px;
}
#listBlog .blogDetail .creator .card .card-header h2 {
  font-size: 16px;
  color: #525252;
  margin-bottom: 0px;
}
#listBlog .blogDetail .creator .card .card-header h2 span{
  color: #4cd898;
}
#listBlog .blogDetail .commentDetail .media .media-body p {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}
#listBlog .blogDetail .relatedDetail {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
}
#listBlog .blogDetail .relatedDetail h2 {
  font-size: 18px;
  color: #525252;
  margin-bottom: 15px;
}
#listBlog .blogDetail .relatedDetail .media {
  margin-bottom: 15px;
}
#listBlog .blogDetail .relatedDetail .media img {
  width: 150px;
  margin: 0px;
}
#listBlog .blogDetail .relatedDetail .media .media-body h5 {
  font-size: 15px;
  margin-bottom: 0px;
}
#listBlog .blogDetail .relatedDetail .media .media-body p {
  color: #4e4e4e;
  line-height: 15px;
}
#listBlog .blogDetail .formComment {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
}
#listBlog .blogDetail .formComment h2{
  font-size: 18px;
  color: #525252;
  margin-bottom: 20px;
}
#listBlog .blogDetail .formComment h2 span{
  color: #4cd898;
}
#listBlog .blogDetail .formComment form label {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 600;
}
#listBlog .blogDetail .formComment form input {
  border-radius: 0px;
}
#listBlog .blogDetail .formComment form textarea {
  border-radius: 0px;
}
#listBlog .blogDetail .formComment form .form-group {
  margin-top: 15px;
}
#listBlog .blogDetail .formComment form button {
  font-size: 14px;
  background: #4cd898;
  border-radius: 0px;
  border-color: #4cd898;
}












.listArticlepaging .leftPaging {
  float: left;
}
.listArticlepaging .leftPaging span {
  border: 1px solid #dddddd;
  font-size: 14px;
  padding: 3px 8px;
  color: #b3b3b3;
  cursor: pointer;
}
.listArticlepaging .rightPaging {
  float: right;
}
.listArticlepaging .rightPaging span{
  border: 1px solid #dddddd;
  font-size: 14px;
  padding: 3px 8px;
  color: #b3b3b3;
  cursor: pointer;
}
.slideSidebar h2 {
  color: #424242;
  font-size: 16px;
}
.slideSidebar .item .cardProduk img {
  margin-bottom: 10px;
}
.slideSidebar .item .cardProduk .titleProduk h2 {
  margin-bottom: 0px;
}
.slideSidebar .item .cardProduk .titleProduk p {
  font-size: 14px;
  margin-bottom: 0px;
}
.slideSidebar .owl-carousel .owl-dots {
  z-index: 9;
  margin-top: -11px !important;
  position: relative;
}
.slideSidebar .owl-carousel .owl-dots button{
  outline: 0px;
}
.sidebartabs {
  margin-top: 30px;
}

.sidebartabs ul {
  width: 100%;
}
.sidebartabs ul li {
  width: 33.333%;
  text-align: center;
  border: 1px solid #dddddd;
}
.sidebartabs ul li a{
  color: #565656;
  font-size: 15px;
  background: #dddddd;
  padding: 2px 12px;
  width: 100%;
  display: block;
}
.sidebartabs ul li a.active{
  background: #ffffff;
}
.sidebartabs ul li a:hover{
  text-decoration: none;
}

.sidebartabs .tab-content {
  margin-top: 15px;
}
.sidebartabs .tab-content .media {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f7f7f7;
}
.sidebartabs .tab-content .media .listComment p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0px;
}
.sidebartabs .tab-content .media img {
  width: 50px;
  border-radius: 50%;
}
.sidebartabs .tab-content .media .media-body h5 {
  font-size: 14px;
  margin-bottom: 3px;
  line-height: 14px;
}
.sidebartabs .tab-content .media .media-body p {
  font-size: 13px;
  margin-bottom: 0px;
}
footer {
  color: #cccccc;
  padding: 40px 0px;
  background: #333333;
}
footer .descFooter p {
  font-size: 13px;
  line-height: 18px;
}
footer .descFooter span {
  font-size: 14px;
}
footer .descFooter .contactDescFooter p {
  margin-bottom: 0px;
}
footer .descFooter .contactDescFooter span {
  font-weight: 600;
}

footer .linkFooter h2 {
  font-size: 16px;
}
footer .linkFooter ul {
  padding-left: 0px;
}
footer .linkFooter ul li {
  list-style: none;
}
footer .linkFooter ul li a{
  color: #c1c1c1;
  font-size: 13px;
}
footer .listRecent {
  margin-bottom: 20px;
}
footer .listRecent p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}
footer .listRecent span {
  font-size: 13px;
  font-weight: 100;
}
footer .formfooterbtm p {
  font-size: 14px;
  line-height: 16px;
}
footer .formfooterbtm form .input-group-text{
  background: #2d2d2d;
  border-color: #2d2d2d;
}
footer .formfooterbtm form .input-group-text i{
  color: #8e8e8e;
  font-size: 14px;
}
footer .formfooterbtm form .input-group {
  width: 73%;
  float: left;
}
footer .formfooterbtm form .col-auto {
  float: right;
  padding: 0px;
  width: 27%;
}
footer .formfooterbtm form .col-auto button {
  width: 75px;
    font-size: 12px;
    text-align: center;
    height: 34px;
    border-radius: 0px;
    background: #2b5d2b;
    border-color: #2b5d2b;
}
footer .formfooterbtm form input{
  color: #dcdcdc;
  border-radius: 0px;
  font-size: 14px;
  background: #444444;
  border-color: #444444;
}
footer .formfooterbtm form input:focus {
  background: #444444;
}
footer .counts {
  overflow: hidden;
  margin-bottom: 25px;
}
footer .counts p{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 0px;
}
footer .counts span {
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  top: -6px;
}
footer .counts .countleft{
  float: left;
}
footer .counts .countright{
  float: right;
}
.footerBottom {
  color: #909090;
  padding: 15px 0px;
  background: #2d2d2d;
}
.footerBottom p{
  font-size: 13px;
  margin-bottom: 0px;
} 
.linksFooterbtm {
  text-align: right;
}
.linksFooterbtm .linnks {
  overflow: hidden;
}
.linksFooterbtm ul {
  padding-left: 0px;
  overflow: hidden;
  float: right;
  margin-bottom: 0px;
}
.linksFooterbtm ul li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
.linksFooterbtm ul li a{
  color: #909090;
}
.linksFooterbtm ul li a i{
  
}