body {
  background-color: #f1f1f1
}

a {
  outline: none;
  color: #3498db;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #528cb3;
  text-decoration: none;
}

.grid {
  padding-left: 0;
  font-size: 0;
  text-align: center;
}

.grid figure {
  margin: 0.1em;
  width: 100%;
  height: 300px;
  background: #3085a3;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
      position: relative;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    border-radius: 8px;
    min-width: 100%;
}

/* Common style */
.grid figure img {
  position: relative;
  display: block;
  opacity: 0.8;
  width: 100%;
  height: auto;
  max-height: 300px;
}

@media(max-width: 1260px) {
  .grid figure img {
    height: 400px;
  }
  .grid figure {
    height: 400px;
  }
}

.grid figure figcaption {
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figcaption .name-produk {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: -0.15em;
  margin: 1em;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  font-size: 0;
}

.grid figure .name-produk {
  word-spacing: -0.15em;
}

figure.effect-steve {
  z-index: auto;
  background: #fff;
}

figure.effect-steve:before {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
  opacity: 0;
}

figure.effect-steve figcaption {
  z-index: 1;
}

figure.effect-steve img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
  transform: perspective(1000px) translate3d(0, 0, 0);
}

figure.effect-steve .name-produk,
figure.effect-steve p {
  background: #fff;
  color: #2d434e;
}

figure.effect-steve .name-produk {
  position: absolute;
  padding: 0.25em;
  bottom: 0;
  width: 100%;
}

figure.effect-steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-steve:hover:before {
  opacity: 1;
}

figure.effect-steve:hover img {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
  transform: perspective(1000px) translate3d(0, 0, 21px);
}

figure.effect-steve:hover .name-produk:before {
  opacity: 0;
}

figure.effect-steve:hover p {
  opacity: 1;
}

.grid figure,
figcaption,
img {
  z-index: 0;
}

.grid figure figcaption .name-produk {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.grid figcaption p {
font-size: 16px;
    font-weight: 200;
    position: absolute;
    bottom: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: transparent;
}

figure:hover .name-produk {
  z-index: 13;
  background: #fff;
  transition: transform 0.35s;
  transform: translateY(0em);
}

.diskon {
  width: 50px; position: absolute; left: 0; top: 10px; font-size: 14px; color:#fff; font-weight: bold;
}

.new {
  width: 50px;position: absolute; left: 0; top: 55px; font-size: 14px; color:#fff; font-weight: bold;
}

.page-footer {
  position: relative;
  bottom: 0;
}

.bg-shipping {
  background-color: #f8f8f9;
}

.text-card {
  margin-top:-10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.navbar{
  height:80px;
}
.img-logo{
  max-width:78px;
}

.subheader {
    background-color: #fff;
    border-width: 0 0 1px 0;
    border-color: #f3f3f3;
    border-style: solid;

    }

    .subheader-inner {
    margin: 0 32px;
    height: 32px;
}


.subheader .subheader-left {
    float: left;
    color: rgba(0,0,0,.38);
    line-height: 32px;
    font-size: 12px;
}

.subheader .subheader-right {
    float: right;
}

.subheader a {
    font-size: 12px;
    color: rgba(49,53,59,.44);
    display: inline-block;
    line-height: 32px;
}

.subheader .subheader-right a {
    margin-left: 18px;
    padding-right: 6px;
}

.value_addes{
     padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: rgba(10, 31, 68, 0.1) 0px 0px 10px 0px;
    border-radius: 8px;
    background-color: white;
    margin-top: 15px;
        padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    width: 100%;
}
.button-prosesbayar{
  padding: 20px;border-top: 1px solid #CCCCCC;position: relative;display: inline-block; width: 100%;
}

.kotak-voucher{
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}

.kotak-catat{
  margin-top:5px; border-radius: 10px !important; display: block; padding: 5px; border: 1px solid #009975; color: #333; transition: all 0.3s ease-out; height:70px;width:100%;
}

.box_actions_scroll{
   position: fixed !important;
    float: right !important;
    right: 75px !important;
    top: 57px !important;
    flex: 0 0 41.666667%;
    max-width: 36.666667%;
}



.wrapper {
    padding: 30px;
    background: #fff;
    width: 50%;
    height: auto;
    display: block;
    flex-direction: column;
    left: 25%;
    position: fixed;
    top:15%;
}
}

.wrapper-cell {
  display: flex;
  margin-bottom: 30px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background, .image, .text-line {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.image {
       height: 200px;
    width: 300px;
    float: left;
}

.text {
  margin-left: 20px;
  width: auto;
    float: right;
    display: block;
}

.text-line {
    height: 30px;
    width: 300px;
    margin: 4px 0;
}


.main_header{
  position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 999999999 !important;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.26) !important;
}

#view_cart_modal {
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid; border: 1px solid;
  border-image: linear-gradient( to bottom, #009975, rgba(0, 0, 0, 0) ) 1 100%;
  border-left: none;
  color: #009975 !important;
}
#view_cart_modal span {
  position: absolute;
  border: solid 2px #fff;
  background-color: #ea212d;
  color: #fff;
  transform: translate(60%,-30%);
  border-radius: 12px;text-align: center;
  font-style: initial;
  font-size: 9px;
  line-height: 1.6;
  font-weight: 700;
  padding: 0px 5px;
}
a.masuk {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}
a.daftar {
  padding-left: 15px;
  border: 1px solid #009975 !important;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.main_nav{
  height: 50px !important;
}
#main_nav {
  height: 70px;
}
#main_nav .input-group {
  height: 40px;
}
#main_nav .input-group .ui-widget input {
  width: 580px;
  height: 35px;
  margin-top: 5px;
  font-size: 12px;
  border-radius: 8px 0px 0px 8px;
}
#main_nav .input-group .input-group-prepend {
  width: 35px;
  padding: 5px;
  height: 35px;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  background: #15141403;
  border: 1px solid #cccccc;
  border-radius: 0px 8px 8px 0px;
}
#main_nav .input-group .input-group-prepend span {
  border: 0px;
  padding: 0px;
  color: #0202025c;
  padding-left: 5px;
  background: transparent !important;
}

.main_logo{
  max-width: 50px !important;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left:20px;
}

.col-75 {
  float: left;
  width: 55%;
  margin-top: 6px;
}

.contentOmiyago .headingList {
  height: 3.75rem;
  background: #fff;
  padding-left: 1.25rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 0 1.25rem;
  display: flex; -webkit-box-align: center;
  align-items: center;
}
.contentOmiyago .headingList .titleHeading {
  font-size: 1rem;
  color: rgba(0,0,0,.54);
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 1.25rem;
}
.contentOmiyago .headingList .titleHeading span {
  font-weight: bold;
  text-transform: none;
}
.contentOmiyago .headingList a.headingLink {
  color: #ee4d2d;
  display: block;
  text-decoration: none!important;
}
.contentOmiyago .headingList a button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: .3125rem .4375rem;
  background-color: transparent;
  border: none;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  outline: none;
  cursor: pointer;
  color: #009975;
}
.contentOmiyago .headingList a button i {
  padding: 5px;
  font-size: 15px;
}
.contentOmiyago .grid {
  margin: 0px;
  width: 100%;
  background: #ffffff;
  display: inline-block;
}
.informasi-footer {
  width:100%;
  margin-top: 20px;
  margin-left: 0px;
  padding-bottom: 20px;
}
.informasi-footer .cl1-info-footer {
  width: 30%;
  float: left;
  margin-top: -10px;
  margin-left: 0px;
}
.informasi-footer .cl1-info-footer ul li a{
  color: #FFFFFF;
  font-size: 12px;
}
.informasi-footer .cl3-info-footer {
  margin-top: -10px;
  float: left;
  margin-left: 0px;
  width: 50%;
}
.informasi-footer .cl3-info-footer ul li span{
  color: #FFFFFF;
  font-size: 12px;
}
.informasi-footer .lineLinks {
  color: #FFFFFF !important;
  padding: 5px;
  border-top: 1px solid #FFFFFF;
}
footer {
  color: #FFFFFF;
  background: #319a75 !important;
}
footer .sosmedFooter a{
  color:#FFFFFF;
  font-size:30px;
}
footer .sosmedFooter a i{
  width:62px;
  padding:13px;
  font-size: 30px;
  margin: 5px 2px;
  text-align: center;
  text-decoration: none;
}
footer .copyright {
  padding: 5px;
  color: #FFFFFF !important;
  border-top: 1px solid #FFFFFF;
}
footer .copyright a{
  color: #FFFFFF;
  font-size: 13px;
}
footer h4.judul-footer {
  font-size: 18px;
}
.Listcategories {
  margin-top: 10px;
  padding-top: 25px;
  background: #ffffff;
  padding-bottom: 25px;
}
.Listcategories .categories {
  border: 1px solid #f1f1f1;
}
.Listcategories .categories .media img{
  width: 100px;
}

.Listcategories .categories .media .media-body {
  padding-top: 14px;
}
.Listcategories .categories .media .media-body h5 {
  font-size: 14px;
  color: #3a3a3a;
}
.masterMenu a {
  padding: 24px 20px;
  line-height: 0px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.62);
  display: block;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.cardProduk {
  border: 1px solid #f1f1f1;
}
.cardProduk img {
  width: 100%;
  height: 210px;
}
.cardProduk .titleProduk {
  padding-top: 5px;
  padding-left: 5px;
}
.cardProduk .titleProduk h2 {
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}
.cardProduk .titleProduk p {
  color: #2f2f2f;
  font-size: 13px;
  text-align: left;
  margin-bottom: 5px;
}
.cardProduk .priceProduk {
  text-align: left;
  padding-left: 5px;
}
.cardProduk .priceProduk span {
  font-size: 11px;
  text-decoration: line-through;
}
.cardProduk .priceProduk p {
  color: #4e4e4e;
  font-size: 13px;
  font-weight: bold;
}
.cardProduk .priceProduk p em{
  font-size: 10.5px;
  font-style: normal;
  font-weight: normal;
}
.prcustome-3 {
  padding-right: 3px;
}
.plcustome-3 {
  padding-left: 3px;
}
.cardProduk .colBtnBuy {
  padding: 5px;
}
.cardProduk .colBtnBuy button {
  width: 100%;
  height: 35px;
  color: #ffffff;
  font-size: 14px !important;
  line-height: 18px;
  border-radius: 0px;
  background: #4cb050;
}
.fa:hover {
    opacity: 0.7;
}
    .fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
#carousel2 .owl-nav {
  top: 30%;
  width: 100%;
  display: block;
  position: absolute;
}
#carousel2 .owl-nav button.owl-prev{
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4cb050;
}
#carousel2 .owl-nav button.owl-next{
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4cb050;
}
#carousel2 .owl-nav button:hover{
  background: transparent;
}
#carousel2 .owl-nav button:focus{
  outline: 0px;
}
#carousel2 .owl-nav button span{
  top: -13px;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}

#carousel3 .owl-nav {
  top: 30%;
  width: 100%;
  display: block;
  position: absolute;
}
#carousel3 .owl-nav button.owl-prev{
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4cb050;
}
#carousel3 .owl-nav button.owl-next{
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4cb050;
}
#carousel3 .owl-nav button:hover{
  background: transparent;
}
#carousel3 .owl-nav button:focus{
  outline: 0px;
}
#carousel3 .owl-nav button span{
  top: -13px;
  color: #ffffff;
  font-size: 35px;
  position: relative;
}


#detailPage {
  padding-top: 20px;
  background: #ffffff;
  box-shadow: 0 -5px 5px -5px #e0e0e0;
}
#detailPage .breadcrumbs nav ol{
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
  margin-bottom: 30px;
}
#detailPage .breadcrumbs nav ol li a{
  color: #009975;
  font-size: 13px;
}
#detailPage .breadcrumbs nav ol li span{
  font-size: 13px;
}
.descDetail .headDetail h2 {
  font-size: 24px;
  font-weight: 600;
}
.descDetail .ratingDetail .star {
  float: left;
  margin-right: 15px;
}
.descDetail .ratingDetail .star p {
  float: left;
  margin-right: 5px;
}
.descDetail .ratingDetail .star ul{
  overflow: hidden;
  padding-left: 0px;
}
.descDetail .ratingDetail .star ul li{
  float: left;
  list-style: none;
  margin-right: 3px;
}
.descDetail .ratingDetail .star ul li i{
  color: #ffd400;
  font-size: 14px;
}
.descDetail .ratingDetail .rate p span{
  font-weight: bold;
  color: #5d5d5d;
  font-size: 14px;
}
.descDetail .ratingDetail .rate {
  float: left;
  margin-right: 15px;
}
.descDetail .ratingDetail .sales p span{
  font-weight: bold;
  color: #5d5d5d;
  font-size: 14px;
}
.descDetail .priceDetail {
  padding: 15px 20px;
  margin-bottom: 22px;
  background: #fafafa;
}
.descDetail .priceDetail .discountPrice {
  float: left;
  margin-right: 15px;
}
.descDetail .priceDetail .normalPrice h3 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  color: #dc0505;
}
.descDetail .priceDetail .normalPrice h3 span{
  top: -4px;
  left: -10px;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 5px;
  font-weight: 600;
  border-radius: 4px;
  position: relative;
  background: #dc0505;
}
.descDetail .priceDetail .discountPrice label{
  color: #8e8e8e;
  padding: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
  text-decoration: line-through;
}
.descDetail .listDescDetail .listDetail {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.descDetail .listDescDetail .listDetail .labelDetail {
  float: left;
  width: 18%;
}
.descDetail .listDescDetail .listDetail .labelDetail label{
  color: #969696;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}
.descDetail .listDescDetail .listDetail .desclist {
  float: left;
}
.descDetail .listDescDetail .listDetail .desclist p{
  font-size: 13px;
  margin-bottom: 0px;
}
.descDetail .listDescDetail .listDetail .qtymaster p {
  margin-bottom: 8px;
}
.descDetail .listDescDetail .listDetail .desclist .qty {
  overflow: hidden;
}
.descDetail .listDescDetail .listDetail .desclist .qty button {
  border-radius: 50%;
  height: 28px;
  border: 1px solid #009975;
  width: 28px;
  float: left;
  text-align: center;
}
.descDetail .listDescDetail .listDetail .desclist .qty input {
  padding-left: 0px;
  width: 50px;
  float: left;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.descDetail .listDescDetail .listDetail .desclist .qty p{
  float: left;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #737373;
  padding-top: 5px;
}
.descDetail .listDescDetail .listDetail .desclist .minPembelian p {
  color: #009975;
  font-weight: 600;
  padding-top: 7px;
}
.descDetail .listDescDetail .listDetail .desclist ul {
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 0px;
}
.descDetail .listDescDetail .listDetail .desclist ul li {
  float: left;
  list-style: none;
  text-align: center;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #dddddd;
}
.descDetail .listDescDetail .listDetail .desclist ul li p {
  margin-bottom: 0px;
}


.descDetailProduk {
  margin-top: 30px;
}
.descDetailProduk ul {
  padding: 15px 0px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.descDetailProduk ul li {
  width: 100px;
  text-align: center;
}
.descDetailProduk ul li a{
  color: #ababab;
  font-weight: 600;
}
.descDetailProduk ul li a.active{
  color: #009975;
  font-weight: 600;
}

.descDetailProduk .tab-content {
  padding: 15px;
}
.descDetailProduk .tab-content p {
  font-size: 14px;
  color: #8c8c8c;
}
.descDetailProduk .tab-content ul {
  border: 0px;
  padding-top: 0px;
}
.descDetailProduk .tab-content ul li {
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 14px;
  color: #8c8c8c;
}
.descDetailProduk .listDiskusi .media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.descDetailProduk .listDiskusi .media .media-body h5 {
  font-size: 14px;
  font-weight: bold;
  color: #8a8a8a;
  margin-bottom: 0px;
}
.relatedProduk {
  border-top: 1px solid #dddddd;
}
.addtoCart .btnCarts button.btn-tinted {
  border: 1px solid #009975;
  width: 200px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  background: rgba(26, 162, 10, 0.1);
}
.addtoCart .btnCarts button:hover {
  font-size: 14px !important;
  font-weight: 600;
}
.addtoCart .btnCarts button.btn-solid-primary {
  width: 200px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: #009975;
  border: 1px solid #009975;
}

.colImgDetail .slideThumb figure {
  margin-bottom: 0px;
}